name: Build Release

on:
  workflow_dispatch:
  push:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Restore NuGet Packages
      run: nuget restore fflag-manager.sln

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    # HERE IS THE FIX: We force the output to go to a folder named "BuildOutput"
    - name: Build Solution
      run: msbuild fflag-manager.sln /p:Configuration=Release /p:Platform=x64 /p:OutDir=${{ github.workspace }}\BuildOutput\

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: fflag-manager-exe
        # Now we look in that specific folder we forced above
        path: BuildOutput/*.exe
        if-no-files-found: error
